body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  margin: 0;
  flex-direction: column;
}

.container {
  text-align: center;
}

#parameters {
  margin-bottom: 20px;
}

#parameters label,
#parameters input,
#parameters select,
#parameters button {
  margin-right: 10px;
  margin-bottom: 10px;
}

#gacha-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#gacha-button:focus {
  outline: none;
}

#results-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.result-container {
  display: grid;
  grid-template-columns: repeat(10, 50px); /* 10 columns */
  grid-template-rows: repeat(5, 50px); /* 5 rows */
  gap: 5px;
  justify-content: center;
  padding: 10px;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gacha-item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gacha-s {
  background: yellow;
  border: 2px solid gold;
  color: white;
  animation: shine 1s infinite;
}

.gacha-r {
  background: purple;
  border: 2px solid darkviolet;
  color: white;
}

.gacha-c {
  background: gray;
  border: 2px solid darkgray;
  color: white;
}

.gacha-animation {
  animation: bounce 0.5s ease-out;
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shine {
  0% {
    box-shadow: 0 0 5px gold;
  }
  50% {
    box-shadow: 0 0 20px gold;
  }
  100% {
    box-shadow: 0 0 5px gold;
  }
}

#dashboard-container {
  margin-top: 20px;
}

#results-table {
  width: 100%;
  border-collapse: collapse;
}

#results-table th,
#results-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

#logs-container {
  margin-top: 20px;
}

#logs-list {
  list-style: none;
  padding: 0;
}
